<div class="footer-content">
  <div class="footer-links">
    <a href="https://webpages.charlotte.edu/eyoung37/" target="_blank"
    >Charlotte Webpages</a
  >
  <a href="https://github.com/ethen09" target="_blank">GitHub</a>
  <a href="https://github.com/ethen09/ethen09.github.io" target="_blank"
    >GitHub.io</a
  >
  <a href="https://www.freecodecamp.org/eyoung" target="_blank"
    >freeCodeCamp</a
  >
  <a href="https://www.codecademy.com/profiles/eyoung37" target="_blank"
    >Codecademy</a
  >
  <a
    href="https://www.linkedin.com/in/ethen-young-207437270"
    target="_blank"
    >LinkedIn</a
  >
  </div>
  
  <p>
    Page Built by <a href="youngdevelopment.org">YoungDevelopment </a>&copy;
    2025
  </p>
  <div class="validation-links">
  <a href="https://validator.w3.org/check?uri=referer">
    <img
      src="itis3135/images/htmlValidationButton.png"
      alt="html validation button"
    >
  </a>
  <a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img src="itis3135/images/cssValidationButton.png" alt="css validation button" >
  

  </div>
</div>



