<nav>
  <a href="https://webpages.charlotte.edu/eyoung37/" target="_blank"
    >Charlotte Webpages</a
  >
  <a href="https://github.com/ethen09" target="_blank">GitHub</a>
  <a href="https://github.com/ethen09/ethen09.github.io" target="_blank"
    >GitHub.io</a
  >
  <a href="https://www.freecodecamp.org/eyoung" target="_blank">freeCodeCamp</a>

  <a href="https://www.codecademy.com/profiles/eyoung37" target="_blank"
    >Codecademy</a
  >
  <a href="https://www.linkedin.com/in/ethen-young-207437270" target="_blank"
    >LinkedIn</a
  >
</nav>

<p>
  Page Built by, <a href="youngdevelopment.org">YoungDevelopment </a>&copy; 2025
</p>
<a
  href="https://www.freecodecamp.org/certification/eyoung/responsive-web-design"
  target="_blank"
  ><i>Certified in Responsive Web Design</i></a
>
<a href="validation-button-html">
  <img src="images/htmlValidationButton.png" alt="html validation button" />
</a>
<a href="validation-button-css">
  <img src="images/cssValidationButton.png" alt="css validation button" />
</a>
